fieldset{
  width: 400px;
  border-radius: 10px;
}
.forms{
  display: flex;
  gap:100px
}
button{
  margin:5px
}
input[type='text']{
  margin:1px
}
select{
  margin:7px
}
.newField{
  margin:10px
}
body{
  background-color: rgb(223, 223, 223);
}